@{
    softcomputacion.Models.venta oVenta = (softcomputacion.Models.venta)Session["venta"];
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="text-center fs-24" style="color:#000;"><i class="fas fa-shopping-cart"></i></p>
        </div>
       
    </div>
    <hr style="border-top: 1px solid #b5262a; margin-top:5px;" />
            @if (oVenta != null)
            {
                foreach (softcomputacion.Models.detalleVenta oDetalle in oVenta.detalleVenta)
                {
                    <div id="divRow">
                        <div class="row" id="div-carrito-@oDetalle.idProducto">
                            <div class="col-12 col-md-10 col-lg-10">
                                <div class="row">
                                    <div class="col-12 col-md-12">
                                        <p class="fs-18"><strong>@oDetalle.producto.categoria.nombre @oDetalle.producto.subcategoria.nombre @oDetalle.producto.nombre</strong></p>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 p-l-5 p-r-5 text-center">
                                        <p class="fs-16">Cantidad: <i id="i-cant-@oDetalle.idProducto">@oDetalle.cantidad</i></p>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 p-l-5 p-r-5 text-right">
                                        <p class="fs-16">P/Unit: $@oDetalle.costoIndividual</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-md-2 col-lg-2 p-l-0 p-r-0 text-center">
                                @*<button class="btn btn-outline-danger" type="button" onclick="borrarDetalle(@oDetalle.idProducto)" style="width:100%"><i class="fas fa-trash-alt"></i></button>
            <span class="fas fa-trash-alt" style="cursor:pointer; font-size: 28px; margin-top: 10px;" onclick="borrarDetalle(@oDetalle.idProducto)"></span>*@
                                <p class="fs-20"><strong>*$@oDetalle.costoGrupal</strong></p>
                            </div>
                            <div class="col-12">
                                <div class="clearfix">
                                    <span class="fas fa-trash-alt float-right" style="cursor:pointer; font-size: 15px;" onclick="borrarDetalle(@oDetalle.idProducto)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }        
            <hr style="border-top: 1px solid #b5262a;" />
            <div class="row text-center">
                <form method="post" target="_blank" action="@Url.Action("GenerarVenta", "Venta")">
                    <div class="col-12">
                        <button onclick="" class="btn btn-outline-dark col-12">Generar Venta</button>
                    </div>
                </form>
            </div>
    </div>

    <script>

        function borrarDetalle(idProducto) {
            var url = "@Url.Action("borrarDetalle", "Venta")";
            var data = { idProducto: idProducto };
            $.post(url, data).done(function (data) {
                if (data == "true") {
                    var stockActual = $('#iSpan-' + idProducto).text();
                    var stockDescontar = $('#i-cant-' + idProducto).text();
                    var stockEstimado = parseInt(stockActual) + parseInt(stockDescontar);
                    $('#iSpan-' + idProducto).text(stockEstimado);
                    $('#div-carrito-' + idProducto).remove();
                   
                } else
                {
                    swal("Ocurrió un error", "Se produjo un error al intentar agregar un producto al carrito", "error");
                }
            });
        }
    </script>
