@{
    ViewBag.Title = "Listar reparaciones";
    Layout = "~/Views/Shared/_UsuarioLogueado.cshtml";
    softcomputacion.Models.usuario oUsuario = (softcomputacion.Models.usuario)Session["Usuario"];
    List<softcomputacion.Models.usuario> lstUsuario = (List<softcomputacion.Models.usuario>)ViewBag.Ususarios;
    List<softcomputacion.Models.estado> lstEstado = (List<softcomputacion.Models.estado>)ViewBag.Estados;
    
    string[] filtros = ViewBag.filtros.Split(';');

}
@model PagedList.IPagedList<softcomputacion.Models.reparacion>
@using PagedList.Mvc;

<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Reparaciones</h2>
        </div>
    </div>
    <hr style="border-top: 2px solid #b5262a;" />

    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="row">
                <div class="col-12 offset-xl-1 col-xl-10">
                    @* Form de busqueda *@
                    <form method="post" action="@Url.Action("ListarReparaciones", "Reparacion")" autocomplete="off">
                        <div class="row">
                            <div class="col-12 col-md-3 col-lg-2">
                                <div class="wrap-input100 m-b-20">
                                    <input class="input100" type="text" name="idReparacion" id="codigo" placeholder="Código" value="@filtros[0]">
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-2">
                                <div class="wrap-input100 m-b-20">
                                    <input class="input100" type="text" name="stCliente" id="stCliente" placeholder="Cliente" value="@filtros[3]">
                                </div>
                            </div>

                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="wrap-input100 ¡ m-b-20" data-validate="">
                                    <select id="select-Usuario" class="form-control input100" style="border:0px; height: 55px;" name="idUsuario">
                                        <option selected value="0">Usuario</option>

                                        @foreach (softcomputacion.Models.usuario oUsu in lstUsuario)
                                        {
                                            if (oUsu.idUsuario.ToString() == filtros[1])
                                            {
                                                <option selected value="@oUsu.idUsuario">@oUsu.apellido, @oUsu.nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@oUsu.idUsuario">@oUsu.apellido, @oUsu.nombre</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="wrap-input100 ¡ m-b-20" data-validate="">
                                    <select id="select-Usuario" class="form-control input100" style="border:0px; height: 55px;" name="idUsuario">
                                        <option selected value="0">Estado</option>

                                        @foreach (softcomputacion.Models.estado oEst in lstEstado)
                                        {
                                            if (oEst.idEstado.ToString() == filtros[2])
                                            {
                                                <option selected value="@oEst.idEstado">@oEst.nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@oEst.idEstado">@oEst.nombre</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>


                            <div class="col-12 col-md-12 col-lg-1">
                                <div class="container-login100-form-btn m-b-20">
                                    <button class="login100-form-btn fs-22" style="height:56px;" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-1">
                                <div class="container-login100-form-btn m-b-20">
                                    <button class="btn fs-22 btn-dark w-full" style="height:56px;" type="button" onclick="location.href='@Url.Action("Reparacion","Reparacion")'">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>



            <hr style="border-top: 1px solid #b5262a;" />
            <br />
        </div>
        <div class="row container-fluid">
            <!--Lista de Reparaciones-->

            <div class="m-b-15 col-12 offset-xl-1 col-xl-10">
                @{
                    string stFechaHs = "";
                    foreach (var oReparacion in Model)
                    {
                        stFechaHs = oReparacion.fecha.Day.ToString().PadLeft(2, '0') + "/" + oReparacion.fecha.Month.ToString().PadLeft(2, '0') + "/" + oReparacion.fecha.Year;
                        
                        
                        <div class="row">
                            <div class="col-12 p-b-5 p-t-10 item-lista-venta" style="text-align:left;" onclick="window.open('@Url.Action("VistaReparacion","Reparacion", new { idReparacion = oReparacion.idReparacion})')">
                                <div class="row">

                                    <div class="col-12 col-sm-3 col-md-1 col-lg-1 col-xl-1 p-l-5 p-r-5">
                                        <p class="login100-form-title fs-18 p-l-5 text-center text-sm-left">
                                            <span>Nro: @oReparacion.idReparacion</span>
                                        </p>
                                        <p class="text-center text-sm-left @softcomputacion.Servicios.clsMetodosGenericos.ObtenerColorEstadoReparacion(oReparacion.idEstado) text-uppercase"><strong>@oReparacion.estado.nombre</strong></p>
                                    </div>
                                    <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 p-l-5 p-r-5">
                                        <p class="login100-form-title fs-18 p-l-5 text-center">
                                            <span>@stFechaHs</span>
                                        </p>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-5 col-lg-5 col-xl-4 p-l-5 p-r-5">
                                        <p class="login100-form-title fs-18 p-l-5 text-center text-sm-left">
                                            <span>@oReparacion.cliente.nombre, @oReparacion.cliente.apellido</span>
                                        </p>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-2 col-lg-3 col-xl-4 p-l-5 p-r-5">
                                        <p class="login100-form-title fs-18 p-l-5 text-center text-lg-left">
                                            @oReparacion.producto
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <hr class="m-t-0 m-b-0" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="row container-fluid text-center">
            <div id="div-paginacion" class="col-12">
                @Html.PagedListPager(Model, nroPagina => Url.Action("ListarReparaciones", "Reparacion", new { nroPagina, tamañoPagina = Model.PageSize, paginacion = true }), new PagedListRenderOptions() { ClassToApplyToFirstListItemInPager = null, ClassToApplyToLastListItemInPager = null, UlElementClasses = new[] { "pagination", "justify-content-center" }, LiElementClasses = new[] { "page-item" } })
            </div>
            <div class="col-12">
                @Model.FirstItemOnPage a @Model.LastItemOnPage reparaciones de un total de @Model.TotalItemCount reparaciones.
            </div>
        </div>
    </div>
</div>


